style.css Không được chia sẻ Loại Biểu định kiểu Kích thước 15 KB (15.629 byte) Bộ nhớ chiếm dụng 15 KB (15.629 byte) Vị trí css Chủ sở hữu tôi Lần sửa đổi gần đây nhất: 7 thg 11,
2020 bởi tôi Được mở vào 10:20 bởi tôi Đã tạo 7 thg 11,
2020 với Google Drive Web Thêm mô tả Người xem có thể tải xuống body {
    line-height: 1.8em;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

#header {}

#main {
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
}

h1 {
    font-size: 1.7em;
    line-height: 1.3;
}

h2 {
    font-size: 1.6em;
    line-height: 1.3;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .85em;
    opacity: .8;
}

strong {
    font-weight: bolder;
}

p {
    margin-bottom: 1.3em;
}

img {
    max-width: 100%;
    height: auto;
}

.form-input {
    width: calc(100% - 15px);
    padding: 7.5px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #fff;
}

.form-input:focus {
    border: 1px solid #fff;
    color: #fff !important;
    background-color: #fff;
    outline: aliceblue;
}

.select-option:focus {
    outline: none !important;
    box-shadow: 0 0 1pt 1pt #c6d0da;
    border: 1px solid rgb(53, 26, 151);
}

.inner {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section10 p {
    margin-bottom: 0px;
    color: #4C4C4C;
}

.section11 p {
    margin-bottom: 0px !important;
    color: #4C4C4C;
}

.border-dashed-img {
    height: 100%;
    border-right: 1px dashed #fff;
}

.border-dashed-img .padding-col {
    border-bottom: 1px dashed #fff;
}

.logo {
    width: 352px;
    max-height: 80px;
    margin-left: 0;
    margin-right: 30px;
}

.logo img {
    width: auto;
    max-height: 80px;
}


/*----- Phần menu -----*/

.menu-pc {
    margin: 0px;
}

.menu-pc li {
    margin: 0px;
    list-style: none;
    font-family: 'Ek Mukta';
}

.menu a {
    transition: all linear 0.15s;
    color: #919191;
}

.menu-pc li:hover>a,
.menu .current-item>a {
    text-decoration: none;
    color: #000000;
}

.menu-pc .arrow {
    font-size: 11px;
    line-height: 0%;
}


/*----- css cho phần menu cha -----*/

.menu-pc ul li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
    margin: 0 13px;
    padding: 10px 0px;
}

.menu-pc>ul>li:hover {
    border-bottom: 3px solid #000000;
    padding: 8px 0px;
}

.menu-pc>ul>li>a,
.sub-menu>li>a {
    display: inline-block;
    color: #808080;
    text-decoration: unset;
}

.menu-pc>ul>li:hover>a,
.menu>ul>.current-item>a {
    background: #ffffff;
}


/*----css cho menu con----*/

.menu-pc li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 260px;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.sub-menu>li {
    display: block;
    font-size: 16px;
    margin: 0px !important;
    width: 100%;
    padding: 0px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
    background: rgb(236, 236, 236);
}


/* menu mobile  */

.menu-mobile {
    display: none;
    top: 0;
    left: 0;
}

.menu-mobile ul {
    background-color: rgba(0, 0, 0, 0.95);
    width: 260px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.menu-mobile li {
    width: auto;
    height: 40px;
    line-height: 29px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-mobile li a {
    text-decoration: none;
    color: #FFFFFFCC;
    font-weight: bold;
    display: block;
    font-size: 0.8em;
}

#section_2078542959 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
}

.header-wrapper {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
}

.padding-col {
    padding: 0 9.8px 19.6px;
}

.margin-input {
    margin: 7.5px;
}

.padding-20 {
    padding: 20px;
}

.margin-col {
    margin: 0 9.8px 19.6px;
}

.box-shadow-2 {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box-shadow-2:hover {
    box-shadow: unset;
}

.button {
    position: relative;
    display: inline-block;
    letter-spacing: .03em;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

.is-large {
    font-size: 1.15em;
}

.is-outline.primary {
    color: #ee4035;
}

.button.is-outline {
    border: 2px solid currentColor;
    background-color: transparent;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-2 {
    width: 16.666%;
    flex-basis: 16.666%;
}

.col-sm-3 {
    width: 25%;
    flex-basis: 25%;
}

.col-sm-4 {
    width: 33%;
    flex-basis: 33%;
}

.col-sm-5 {
    width: 41.666%;
    flex-basis: 41.666%;
}

.col-sm-6 {
    width: 50%;
    flex-basis: 50%;
}

.col-sm-7 {
    width: 58.333%;
    flex-basis: 58.333%;
}

.col-sm-8 {
    width: 67%;
    flex-basis: 67%;
}

.col-sm-9 {
    width: 75%;
    flex-basis: 75%;
}

.col-pd-3,
.col-logo-3 {
    width: calc(25% - 20px);
}

.col-pd-4,
.col-logo-4 {
    width: calc(33% - 20px);
}

.font-size-1 {
    font-size: 1px;
}

.font-size-2 {
    font-size: 2px;
}

.font-size-18 {
    font-size: 18px;
}

.border-left {
    border-left: 1px solid #ececec;
}

.border-right {
    border-right: 1px solid #ececec;
}

.color-4c4c4c {
    color: #4c4c4c;
}

.color-1c1c1c {
    color: #1c1c1c;
}

.background-white {
    background-color: white;
}

.text-center {
    text-align: center;
}

.icon-box-img div h4 {
    text-align: center;
    color: #1c1c1c;
    font-size: 1.125em;
    margin-bottom: .5em;
}

.icon-box-img div p {
    color: #808080;
}

.section3 div h2 {
    margin-top: 20px;
}

.section3 {
    padding: 0 15px 30px;
}

.section4 .col-sm-6 div .color-4c4c4c p {
    color: #808080 !important;
}

.section4 .col-sm-6 div .color-4c4c4c strong {
    color: #4C4C4C;
}

.section5 div .color-4c4c4c h5 span {
    color: #000000;
}

.a-more-hover {
    text-decoration: none;
}

.a-more-hover:hover {
    color: #f7ae23 !important;
    text-decoration: underline;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.bg-overlay-1 {
    background-color: rgba(223, 26, 26, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.register-now {
    background-color: #ee4035;
    color: #ffffff;
    margin-right: 1em;
    font-size: .97em;
    border: 1px solid #ee4035;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    font-weight: bolder;
}

.register-now:hover {
    background-color: #A62D25;
}

.noreferrer {
    background-color: #ee4035;
    color: #ffffff;
    margin-right: 1em;
    font-size: .97em;
    border: 1px solid #ee4035;
    line-height: 2.4em;
    font-weight: bolder;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.noreferrer:hover {
    background-color: #A62D25;
}

.section6 {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image-cover {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.image-cover img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.box-text {
    padding-top: .7em;
    padding-bottom: 1.4em;
    position: relative;
    width: 100%;
    font-size: .9em;
}

.box-text h5 {
    line-height: 1.3;
    margin-top: .1em;
    margin-bottom: .1em;
}

.is-larger {
    font-size: 1.3em;
}

.from_the_blog_excerpt {
    color: #334862;
}

.from_the_blog_excerpt:hover {
    color: #FFC619;
}

.dark div,
.dark p,
.dark>p>strong,
.dark>div>strong,
.dark td {
    color: #f1f1f1;
}


/*------ collaps ---------------------*/

.collapsible:hover {
    color: #f7ae23;
}

.collapsible:after {
    color: white;
    float: right;
    margin-left: 5px;
}

.active>.fas {
    transform: rotate(180deg);
    color: #EE4035;
}

.collapse-method {
    margin-top: 50px;
}

.collapse-method .active {
    background-color: rgba(0, 0, 0, 0.03);
    color: #EE4035;
}

.collapse-method button,
.collapse-method content p {
    color: #4c4c4c;
    font-family: "Lexend Deca", sans-serif;
}

.collapsible .fa-angle-down {
    margin-left: -25px;
    position: absolute;
    margin-top: 3px;
}

.collapse-method button {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: .6em 2.3em;
    margin: 0px;
    font-size: 17.6px;
    width: 100%;
    text-align: left;
    background: #fff;
    outline: none;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.box-shadow-2-hover:hover {
    background-color: #ee4035;
    color: #fff;
}


/*------ collaps ------*/

.bao-gia {
    background: #fff;
    color: #666;
    font-size: 16px;
}

.bao-gia:hover {
    background: rgb(199, 199, 199);
}

.form-advisory div .form-input {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-advisory>div>select>option {
    color: #000000;
}

.accordion-inner>h3 {
    color: #1C1C1C;
}

.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.text-center {
    text-align: center;
}

.col-inner h1 {
    color: #1C1C1C;
}

.procedure-pd {
    padding: 15px 10px 10px 10px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icon-box-img {
    margin: 0 auto 1em;
}

.procedure-pd h3 {
    color: #1C1C1C;
}

.procedure-pd p {
    color: #4C4C4C;
}

.pd-0 {
    padding: 0px;
}

.pd-bottom-0 {
    padding-bottom: 0px;
}

.pd-bottom-30 {
    padding-bottom: 30px;
}

.pd-top-0 {
    padding-top: 0px;
}

.pd-top-30 {
    padding-top: 30px;
}

.margin-0 {
    margin: 0px;
}

.tag-label {
    color: #fff;
    padding: 2px 5px;
    background: #2e3333 !important;
    border-radius: 2px;
    transition: background-color .3s, opacity .3s;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: .1em;
    margin-bottom: .1em;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .05em;
    opacity: .3;
    font-size: .6em;
}

.box-text1 {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box-text1>div {
    padding: 10px 20px 2px 20px;
}

.box-text1 div h3 {
    color: #ffffff;
}

.box-text1 .title ul {
    margin-left: 15px;
}

.dividing-line {
    border-color: rgb(228, 228, 228);
    border-width: 0px 2px 0px 0px;
    margin: 0px 50% 0px 0px;
    border-style: dashed;
    height: 100%;
}

.icon-box-img1 {
    margin-left: calc(100% - 30px);
    width: 60px;
    height: 60px;
    margin-top: 60px;
}

.icon-box-img1 div {
    border: 2px solid currentColor;
    border-radius: 100%;
    border-width: 3px;
    height: 60px;
    width: 60px;
    margin-top: -60px;
    background-color: #fff;
}

.has-icon-bg svg,
.has-icon-bg1 svg,
.has-icon-bg2 svg,
.has-icon-bg3 svg {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}

.has-icon-bg div {
    color: rgb(238, 64, 53);
}

.has-icon-bg1 div {
    color: rgb(237, 128, 58);
}

.has-icon-bg2 div {
    color: rgb(251, 201, 51);
}

.has-icon-bg3 div {
    color: rgb(249, 113, 104);
}

.input-search {}

@media only screen and (max-width: 1200px) {
    .container {
        width: auto;
    }
    .menu-pc {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        width: 100%;
        flex-basis: unset;
    }
    .col-logo-3 {
        width: calc(50% - 20px);
        margin-left: 25%;
        margin-right: 25%;
    }
    .col-logo-4 {
        width: calc(50% - 20px);
        margin-left: 25%;
        margin-right: 25%;
    }
    .col-pd-3,
    .col-pd-4 {
        width: 100%;
    }
    .section6 {
        max-width: unset;
    }
    .border-mobile {
        border: none;
    }
    .border-dashed-img {
        height: unset;
        border-right: none;
    }
    .border-dashed-img .padding-col {
        border-bottom: none;
    }
    .icon-box-img1 {
        margin-top: 90px;
        padding-bottom: 30px;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


/* Modal Content */

.modal-content {
    height: 100%;
    position: fixed;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        top: 300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: 300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}